<!-- div que engloba todo componente -->
<div class="container_small-card">
    <!-- div que contém a imagem e o título -->
    <div class="conteiner_content_small-card">
        <!-- image -->
        <div class="small-card_picture">
            <img src="{{ photoCover }}"
                alt="">
        </div>
    
        <!-- title -->
        <div class="small-card_title">
            <h1><a href="#">
                    "{{ cardTitle }}"
                </a></h1>
        </div>
    </div>

    <!-- <hr> - separator -->
    <div class="small-card_separator">
        <hr>
    </div>

</div>