.containeir_content {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    scroll-snap-align: y proximity;
    flex: 1;
    overflow-y: scroll;
}

.content_title {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}

.content_cover > img{
    border: 7px solid gray;
    border-radius: 3%;
    display: flex;
    
    min-width: 500px;
    max-width: 500px;
    min-height: 300px;
    max-height: 300px;

}

.content_description {
    margin-left: 30px;
    margin-right: 30px;
    color: rgb(222, 222, 222);
}