/* @media screen and (max-width: 1416px){
    header {
        display: flex;
        justify-content: center;
        margin: 1.5rem;
    }
    
    .container_articles {
        margin-top: 50px;
        width: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .articles_main {
        align-content: flex;
    }
    
    .articles_others {
        align-content: flex;
        margin-top: 10px;
    } */

    /* -- row cards -- */
/* .container_row-card {
    border: 2px solid white;
    width: 113vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content_row-card {
    display: flex;
    flex-direction: row;
}

.content_row-card2 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}  
} */