<div class="container_menu-bar">
    <ul>
        <li><a [routerLink]="['']"><button class="btn-home"> Home </button></a></li>
        <li><span>•</span></li>
        <li><a href="https://www.linkedin.com/in/alan-r-oliveira/"><button class="btn-linkedin">Linkedin</button></a></li>
        <li><span>•</span></li>
        <li><a href="https://github.com/truelanz"><button class="btn-github">Github</button></a></li>
        <li><span>•</span></li>
        <li><a href="https://www.instagram.com/alanoliveira.art/"><button class="btn-arts">My Arts</button></a></li>
    </ul>
</div>
