/* You can add global styles to this file, and also import other style files */

/* Congigurações gerais CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Segoe UI';

    /* Redefinindo Scroll para o top sempre que mudar de página */
    scroll-snap-type: y mandatory;
    scroll-snap-align: top;
}

a {
    text-decoration: none;
}